*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-color: #00004d;
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    color: #7ed957;
    font-size: 24px;
}
.nav-links{
    font-family: "Old Standard TT", serif;
    font-weight: 400;
     font-style: normal;
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #7ed957;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.container{
    display: flex;
    align-items: center;
}
.text-box{
    flex: 1;
    color:#fff;
    text-align: left;
    padding-left: 5%;
    /*
    padding: 20px;
    width: 90%;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    */
}
.text-box h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 62px;
}
.text-box p{
    font-family: "Old Standard TT", serif;
    font-weight: 400;
     font-style: normal;
    margin: 10px 0 40px;
    font-size: 14px;
    color:#fff;
}

.image{
    flex: 1;
    text-align: center;
}

img{
    max-width: 75%;
    height: auto;
}

.login-button{
    display: inline-block;
    text-decoration: none;
    color: #00004d;
    border: 2px solid #fff;
    padding: 12px 34px;
    font-size: 16px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: #7ed957;
    position: relative;
    cursor: pointer;
}
.login-button:hover{
    background-color: #fff;
    transition: 0.7s;
}
