html, body{
    margin: 0px !important;
    padding: 0px !important;

}

body{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 17;

}

img{
    max-width: 100% !important;
}
.container{
    max-width: 2440px;
    width: 100%;
    margin:0 auto;
}

.site-header{
    display: grid;
    grid-template-columns: 1fr 4fr;
    
}

.site-header nav{
    align-self: center;
    padding: 0px 20px;
}

.site-header nav a{
    color: cyan;
    font-size: 22px;
    padding: 5px;
    margin: 0px 7px;
    text-decoration: none;
}

.content-wide{
    background-color: rgb(48, 233, 202);
    color:white;
    font-size: 19px;
    padding: 2% 6%;
    margin: 4% 0;
}

.grid-two-columns-one-column{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 5px;
    grid-gap: 20px;
}

.content-left{
    padding-right: 7%;
}

/* 
This section cullently does nothing
*/
.grid.three-columns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 5px;
    background-color: cyan;
}


/* 
This section cullently does nothing
*/
.footer{
    background-color: cyan;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 19px;

}

.footer-left{
    float: left;
}

.footer-right{
    float: right;
}
/* 
This section cullently partialy works
*/
@media screen and (max-width: 600px){
    .site-header{
        grid-template-columns: 1fr;
    }
    .site-header nav{
        text-align: center;
    }
    .grid-two-columns-one-column{
        grid-template-columns: 1fr;
    }
    .grid-three-columns{
        grid-template-columns: 1fr;
    }

    .footer{
        grid-template-columns: 1fr;

    }
    .footer-left, .footer-right{
        text-align: center;
    }
    
}