body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Assistant', 'Lato',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: linear-gradient(#2A00B7, #42006C)
}

/* Assistant Regular */
@font-face {
  font-family: 'Assistant';
  src: url('/src/components/Fonts/Assistant/static/Assistant-Regular.ttf') format('truetype');
  font-weight: 400; 
  font-style: normal;
}

/* Assistant Bold */
@font-face {
  font-family: 'Assistant';
  src: url('/src/components/Fonts/Assistant/static/Assistant-Bold.ttf') format('truetype');
  font-weight: 700; 
  font-style: bold;
}

/* Lato Regular */
@font-face {
  font-family: 'Lato';
  src: url('/src/components/Fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: 400; 
  font-style: normal;
}

/* Lato Bold */
@font-face {
  font-family: 'Lato';
  src: url('/src/components/Fonts/Lato/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
