/*
https://coolors.co/05668d-028090-00a896-02c39a-f0f3bd
*/

:root {
  --primary-color: #05668d;
  --secondary-color: #02c39a;
  --background-color: #f0f3bd;
  --primary-text-color: Black;
  --secondary-text-color: #028090;
  --link-color: #00a896;
  --footer-color: cyan;
  --white-color: white;
}



.App {
  text-align: center;
}



.App-header {
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--white-color);
}

.App-link {
  color: var(--link-color);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


html, body{
  margin: 0px !important;
  padding: 0px !important;

}

body{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 17;

}

img{
  max-width: 100% !important;
}
.container{
  max-width: 2440px;
  width: 100%;
  margin:0 auto;
}

.site-header{
  display: grid;
  grid-template-columns: 1fr 4fr;
  
}

.site-header nav{
  align-self: center;
  padding: 0px 20px;
}

.site-header nav a{
  color: var(--secondary-color);
  font-size: 22px;
  padding: 5px;
  margin: 0px 7px;
  text-decoration: none;
}

.content-wide{
  background-color: var(--secondary-color);
  color:var(--white-color);
  font-size: 19px;
  padding: 2% 6%;
  margin: 4% 0;
}

.grid-two-columns-one-column{
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 5px;
  grid-gap: 20px;
}

.content-left{
  padding-right: 7%;
}


.grid.three-columns{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 5px;
  background-color: var(--secondary-color);
}



/*
  Footer
*/ 
.two-column-grid {
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-gap:5%;
  padding:0;
  align-items:center;
}

.two-column-grid img {
  width:75%;
}

footer {
  background:var(--footer-color);
  color:var(--primary-text-color);
  margin:2.5% 0 -15px 0;
  padding-top:1.5%;
}

footer a {
  text-decoration:none;
  color: var(--white-color);
}

footer .two-column-grid {
  align-items:flex-start;
}

footer .two-column-grid img {
  align-self:end;
  justify-self:end;
}

.footer-nav {
  margin-top:16px;
  display:flex;
  align-items:center;
  justify-content:space-around;
}

.copyright {
  text-align:center;
}

@media only screen and (max-width:1200px) {
  footer .two-column-grid img {
      width:15vw;
  }
}

@media only screen and (max-width:900px) {
  
  .two-column-grid img {
      width:300px;
  }

  footer {
    text-align:center;
  }

  .footer-nav {
      padding:2.5% 0;
      flex-direction:column;
  }

  .footer-nav a {
      padding:2.5% 0;
      font-size:20px;
  }

  footer .two-column-grid img {
    width:200px;
    justify-self:center;
  }
}

@media screen and (max-width: 600px){
  .site-header{
      grid-template-columns: 1fr;
  }
  .site-header nav{
      text-align: center;
  }
  .grid-two-columns-one-column{
      grid-template-columns: 1fr;
  }
  .grid-three-columns{
      grid-template-columns: 1fr;
  }
}