:root{
  --Federal-blue: #00004d;
  --Imperial-red: #f5424a;
  --Green-blue: #2169ac;
  --White-smoke: #f5f5f5;
  --Light-sky-blue: #89ccff;
  --SGBUS-green: #73d957;
  --White: #fff;
  --primary-font-family: "Assistant", sans-serif;
  --second-font-family: "Lato", sans-serif;
  --gray-color: #797979;
  
}

.container{
  display: flex;
  align-items: center;
}

.text-box{
  flex: 1;
  text-align: left;
  padding-left: 5%;
}

.text-box h1{
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-style: normal;
  font-size: 62px;
  color: var(--SGBUS-green);
}

.text-box p{
  font-family: var(--second-font-family);
  font-weight: 400;
  font-style: normal;
  margin: 40px 0px;
  font-size: 14px;
  color: var(--White);
}

.image{
  flex: 1;
  text-align: center;
}

img{
  max-width: 75%;
  height: auto;
}

.login-button{
  display: inline-block;
  text-decoration: none;
  color: var(--Federal-blue);
  border: 2px solid var(--White);
  padding: 12px 34px;
  font-size: 16px;
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-style: normal;
  background: var(--SGBUS-green);
  position: relative;
  cursor: pointer;
}
.login-button:hover{
  background-color: var(--White);
  transition: 0.7s;
}

.noEffects{
  text-decoration: none !important;
  text-emphasis: none !important;
}


/*This below is the css for the login and signup popup, check with Logan before refactoring*/
.dropdown-button-left {
  background-color: var(--Federal-blue);
  color: var(--White);
  width: 40%;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  float: left;
}

.dropdown-button-right {
  background-color: var(--Federal-blue);
  color: var(--White);
  width: 40%;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  float: right;
}
.sign_container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 200px;
  padding-left: 15px;
  width: 600px;
  background: var(--White);
  padding-bottom: 30px;
  outline-color: var(--Federal-blue);
  outline-width: 5px;
}

.sign_header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}

.sign_text{
  color: var(--Federal-blue);
  font-size: 48px;
  font-weight: 700;
}

.sign_underline{
  width: 61px;
  height: 6px;
  background: var(--Federal-blue);
  border-radius: 9px;
}

.sign_inputs{
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 55px;
}

.sign_input{
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 80px;
  background: var(--White);
  border-radius: 6px;
}

.sign_input img{
  margin: 0px 30px;
}

.sign_input input{
  height: 50px;
  width: 400px;
  border: none;
  outline: none;
  background: transparent;
  color: var(--gray-color);
  font-size: 19px;
}

.sign_forgot-password{
  padding-left: 20px;
  margin-top: 27px;
  color: var(--gray-color);
  font-size: 18px;
}

.forgot-password span{
  color: var(--Federal-blue);
  cursor: pointer;
}

.sign_submit-container{
  display: flex;
  gap: 3px;
  margin: 20px auto;
}

.sign_submit{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 59px;
  border-radius: 50px;
  color: var(--White);
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
  margin-left: 200px;
  background: var(--Federal-blue) !important;
  border: 1px solid var(--SGBUS-green);
  padding: 14px 50px !important;
  text-decoration: none !important;
  font: var(--primary-font-family);
  color: var(--White) !important;
  transition: background 0.5s;
}

.sign_submit:hover{
background: var(--SGBUS-green) !important;
}
.dropdown-button-left {
  background-color: var(--Federal-blue);
  color: var(--White);
  width: 40%;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  float: left;
}

.dropdown-button-right {
  background-color: var(--Federal-blue);
  color: var(--White);
  width: 40%;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  float: right;
}

.dropdown-button:hover, .dropdown-button:focus {
  background-color: var(--Federal-blue);
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.aligncenter {
	float: center;
}



