:root{
    --Federal-blue: #00004d;
    --Imperial-red: #f5424a;
    --Green-blue: #2169ac;
    --White-smoke: #f5f5f5;
    --Light-sky-blue: #89ccff;
    --SGBUS-green: #73d957;
    --White: #fff;
    --primary-font-family: "Assistant", sans-serif;
    --second-font-family: "Lato", sans-serif;
}

@counter-style cartwheel {
    system: cyclic;
    symbols: "\1F938";
    suffix: " ";
}

ul {
    list-style: cartwheel;
}

li {
    position: relative;
    font-family: var(--second-font-family);
}

.addBtn {
    color: var(--Federal-blue);
    background-color: var(--White);
    width: 25%;
    margin: 0 auto;
    font-family: var(--global-font-family);
    cursor: pointer;
    border-radius: 4px;
}

.addBtn:hover{
    background-color: var(--SGBUS-green);
    transition: 0.7s;
  }